@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Spectral:wght@300&display=swap');


/* MAIN ELEMENT STYLING (BODY, HEADER, ..., FOOTER)*/
body
{
    background-color: #fffffa; 
    color: #1B130E;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    line-height: 18px;
}
header
{
    margin: -8px;
    margin-bottom: 5px;
    padding: 20px;
    line-height: 35px;
    background-color: #1B130E;
    color: #956937;
}
main
{
    color: #1B130E;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    line-height: 25px;
}
footer
{
    padding: 5px;
    line-height: 12px;
    margin-bottom: -15px;
    margin-top: 10px;
}
footer div
{
    margin-top: 855px;
    margin-bottom: -15px;
    padding: 5px;
    line-height: 12px;
}
h1
{
    font-family: 'Spectral', sans-serif;
}
h2
{
    margin-left: -15px;
    color: #1B130E;
}
h3
{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: #1b130ee0;
}
hr
{
    color: #120D31;
    margin-bottom: 20px;
}
figcaption 
{
    font-style: italic;
    text-align: center;
}


/* LINK STYLING */
header a
{
    text-decoration: none;
    color: #fffffa;
}
a
{
    text-decoration: none;
    color: #4F62BA;
}
a:hover
{
    text-decoration: underline;
    color: #956937;
}
footer p a:hover
{
    text-decoration: none;
}

/* LIST STYLING */
ol span, p span, ul span
{
    color: #1b130ee3;
    font-weight: 600;
}

ul p
{
    margin-top: 0px;
    margin-left: 20px;
}
section
{
    border-top: 1px dotted #120D31;
    margin-bottom: -20px;
    padding-bottom: 20px;
}


/* TABLE STYLING */
table
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    border-collapse: collapse;
    border: 3px solid #956937;
    color:#fffffa
}
th, td
{
    border: 2px dotted #956937;
    line-height: 30px;
    padding-left: 10px;
}
    /* nth-last-child(#) gets the colum # from the right most column */
table tr td:nth-last-child(1), figure table tr td:nth-last-child(2),
table th:nth-last-child(1), figure table th:nth-last-child(2)
{
    text-align: center;
}
table tfoot td
{
    text-align: center;
}
table thead, table tfoot
{
    background-color: #4654a7;
    border-bottom: 2px solid #956937;
    border-top: 2px solid #956937
}
tbody tr:nth-child(even)
{
    background-color: #7B88CC;
}
tbody tr:nth-child(odd)
{
    background-color: #7b89ccdc;
}


/* FROM STYLES */
form
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7b89ccdc;
    color: #fffffa;
    line-height: 40px;
    border: 3px dotted #120D31;
    border-radius: 10px;
    margin-top: 20px;
}
button
{
    width: 150px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
button[type = "submit"]
{
    margin-left: 20px;
    margin-right: 0px;
}
button[type = "reset"]
{
    margin-left: 0px;
}
.div-buttons
{
    width: 325px;
    margin-left: auto;
    margin-right: auto;
}
.single-buttons
{
    margin-left: 130px;
}
select, form select option
{
    margin-left: 150px;
    width: 300px;
    text-align: center;
    color: grey;
}
form span
{
    color: #a7743b;
}
form div
{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.div-checkbox
{
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 35px;
}
form label
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* USER MADE SELECTORS (ID, CLASS, ETC.) */
.circle-image
{
    border-radius: 50%;
    border-color: #4F62BA;
    border-width: 10px;
    border-style: solid;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.flex-container
{
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0px;
}
.box1
{
    border-right: 1px dotted #956937;
    padding-right: 20px;
}
.box2
{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* CALCULATOR DESIGNS */
.calculator-container
{
    /* Tells that the container is going to be represented as a grid */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #7B88CC;
}

.calculator-buttons
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #956937;
}