@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Spectral:wght@300&display=swap');

body
{
    background-color: #fffffa; 
    color: #1B130E;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    line-height: 18px;
}

header
{
    margin: -8px;
    margin-bottom: 5px;
    padding: 20px;
    line-height: 35px;
    background-color: #1B130E;
    color: #956937;
}

footer
{
    padding: 5px;
    line-height: 12px;
    margin-bottom: -15px;
}

footer div
{
    margin-top: 735px;
    margin-bottom: -15px;
    padding: 5px;
    line-height: 12px;
}

h1
{
    font-family: 'Spectral', sans-serif;
}


main
{
    color: #1B130E;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 25px;
}

a
{
    text-decoration: none;
    color: #4F62BA;
}

a:hover
{
    text-decoration: underline;
    color: #956937;
}

figcaption 
{
    font-style: italic;
    margin-left: 50px;
}

hr
{
    color: #120D31;
    margin-bottom: 20px;
}

.circle-image
{
    border-radius: 50%;
    border-color: #120D31;
    border-width: 10px;
    border-style: solid;
    text-align: center;
}

#left
{
    float: left;
    width: 50%;
    z-index: 2;
    margin-top: -15px;
}

#right 
{
    float: right;
    width: 40%;
    margin-left: 0px;
    margin-top: 100px;
    z-index: 1;
}