<header>
    <!--Logo at the top of site-->
    <div>
        <img src = "./images/logo/350blacklogo-nobackground.png" />
    </div>

    <!--Side nav bar-->
    <ul>
        <li>
            <a href = "./#home_section"><img src = "./images/logo/200blacklogo-nobackground.png"></a>
        </li>
        <li>
            <a href = "./#about_section">About Us</a>
        </li>
        <li>
            <a href = "./#overview_section">Overview</a>
        </li>
        <li>
            <a href = "./contactform.html">Contact Us</a>
        </li>
        <li>
            <a href = "./generation1.html">Generation 1</a>
        </li>
        <li>
            <a href = "./generation2.html">Generation 2</a>
        </li>
        <li>
            <a href = "./generation3.html">Generation 3</a>
        </li>
        <li>
            <a href = "./generation4.html">Generation 4</a>
        </li>
        <li>
            <a href = "./generation5.html">Generation 5</a>
        </li>
        <li>
            <a href = "./generation6.html">Generation 6</a>
        </li>
    </ul>
</header>