<header>
    <!--header of every webpage (should be identical)-->
    <h1>The Hazel Sloths &clubs; ITIS 3135 &clubs; Haley Siharath</h1>

    <!--Link to other pages on the site-->
    <nav>
        <a href = "../">Home</a> ||  
        <a href = "../generation1.html">Introduction</a>  ||  
        <a href = "../generation2.html">Contract</a> ||
        <a href = "../generation3.html">Tables</a> ||
        <a href = "../generation4.html">Form</a> ||
        <a href = "../generation5.html">Website Evaluations</a> ||
        <a href = "../generation6.html">CRAPPY</a>
    </nav>
</header>