<header>
    <!--header of every webpage (should be identical)-->
    <h1>Mustangs :></h1>

    <!--Link to other pages on the site-->
    <nav>
        <a href = "./">Home</a> ||  
        <a href = "./generation1.html">Generation 1</a>  ||  
        <a href = "./generation2.html">Generation 2</a> ||
        <a href = "./generation3.html">Generation 3</a> ||
        <a href = "./generation4.html">Generation 4</a> ||
        <a href = "./generation5.html">Generation 5</a> ||
        <a href = "./generation6.html">Generation 6</a>
    </nav>
</header>