<footer>
    <hr> <!--creates a line to section-->

    <!--navigation to other websites/profiles-->
    <nav>
        <a href = "https://webpages.charlotte.edu/hsiharat/">Charlotte Homepage</a> &clubs;
        <a href = "https://haleysiharath.github.io/">Github.io</a> &clubs;
        <a href = "https://github.com/HaleySiharath">Github</a> &clubs;
        <a href = "https://www.freecodecamp.org/HaleySiharath">Free Code Camp</a> &clubs;
        <a href = "https://www.codecademy.com/profiles/HaleySiharath">Code Academy</a> &clubs;
        <a href = "www.linkedin.com/in/haleysiharath">LinkedIn</a>
    </nav>

    <p>Strategically designed by <a href = "./siharathconsulting.com/">Siharath Consulting</a> &copy;2022</p>

    <!--CSS and HTML checker links and icons-->
    <p style="text-align: center;">
        <a href id = "validation_link_html">
            <img src = "./images/button_validation_html5.png" alt="html5 validation button"/>
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css">
            <img src = "./images/button_validation_css.png" alt="css validation button" />
        </a>
        <script>
            document.getElementById("validation_link_html")
                .setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
            document.getElementById("validation_link_css")
                .setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        </script>
    </p>
</footer>