<header>
    <!--header of every webpage (should be identical)-->
    <h1>The Hazel Sloths &clubs; ITIS 3135 &clubs; Haley Siharath</h1>

    <!--Link to other pages on the site-->
    <nav>
        <a href = "./">Home</a> ||  
        <a href = "./introduction.html">Introduction</a>  ||  
        <a href = "./contract.html">Contract</a> ||
        <a href = "./tables.html">Tables</a> ||
        <a href = "./forms.html">Form</a> ||
        <a href = "./arrays.html">Arrays</a> ||
        <a href = "./website_evaluations.html">Website Evaluations</a> ||
        <a href = "./firstscripts.html">First Scripts</a> || 
        <a href = "./name_the_polygon.html">Poloygon Game</a>
        
    </nav>
    <nav>
        <a href = "./stuff/Bad Webpage:{.htm">CRAPPY</a> || 
        <a href = "./Accessibility/Siharath_Activity_Accessibility.html">Accessibility Activity</a> ||
        <a href = "./project_design_requirements.html">Project Design</a> ||
        <a href = ".././project/">Project</a> ||
        <a href = "./hobby/">Hobby</a>
    </nav>
</header>